<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ibadat.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <activity
            android:name=".activities.YoutubePlayerActivity"
            android:exported="false"
            android:label="@string/title_activity_youtube_player"
            android:screenOrientation="userLandscape" />

        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="com.google.android.gms.measurement.UPLOAD" />
            </intent-filter>
        </receiver>

        <service
            android:name=".player.PlayerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.HomeIbadatSdkActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <receiver android:name=".player.NotificationBroadcastReceiver" />
        <receiver
            android:name=".broadcust_recever.AlarmRequestBReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.NOTIFY" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/Maps_api_key" />

        <service
            android:name=".broadcust_recever.service.AlarmService"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>